main {
  margin-top: 1em;
}

.post {
  background: hsla(0,0%,0%,0.9);
  color: #fff;
  margin-bottom: 1em;
  transition: background 300ms ease;
  display: flex;
  flex-direction: column;
  break-inside: avoid-column;
  max-width: 600px;
  margin: 0 auto 1em;
}

.post:hover {
  background: hsla(0,0%,10%,0.9);
}

.post a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.post img {
  width: 100%;
}

.post.loading img {
  min-height: 200px;
}

.title {
  display: block;
  padding: 1em;
}

@media all and (min-width: 990px) {
  main {
    column-count: 3;
  }
}
